[submodule "zsh/custom/themes/powerlevel9k"]
	path = zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh/custom/themes/pure"]
	path = zsh/custom/themes/pure
	url = https://github.com/alexlafroscia/pure.git
